.main {
  background-image: url("https://png.pngtree.com/background/20210710/original/pngtree-blue-artificial-intelligence-technology-ai-robot-banner-picture-image_1005731.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 10px;
  width: 650px;
  height: 60vh;
  color: white;
}

.textarea {
  width: 97%;
  height: 40%;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  padding: 10px;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.result {
  width: 85%;
  height: 40%;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin: 1px 40px;
}
